table#matrix-table { margin: 10px; width: 100%; border-spacing: 0; table-layout: fixed; }
table#matrix-table > tr { position: relative; }
table#matrix-table > tr::before, table#matrix-table > tr::after  { content: ''; border: 1px solid #000; height: 5px; width: 5px; position: absolute; background-color: #000; left: -2.5px; border-radius: 50%; z-index: 1; }
table#matrix-table > tr::before { top: -2.5px; }
table#matrix-table > tr::after { bottom: -2.5px; }
table#matrix-table > tr > td { height: 50px; width: 50x; position: relative; }
table#matrix-table > tr > td::before, table#matrix-table > tr > td::after  { content: ''; border: 1px solid #000; height: 5px; width: 5px; position: absolute; background-color: #000; right: -3px; border-radius: 50%; z-index: 1; }
table#matrix-table > tr > td::before { top: -3.5px }
table#matrix-table > tr > td::after { bottom: -2.5px; }
table#matrix-table > tr > td > span:not(.player) { position: absolute; cursor: pointer; }
table#matrix-table > tr > td > span.top { top: -1.5px; left: 0; width: 100%; height: 2.5px; }
table#matrix-table > tr > td > span.left { top: 0; left: -1.5px; height: 100%; width: 2.5px; }
table#matrix-table > tr > td > span.bottom { bottom: -2.5px; left: 0; width: 100%; height: 2.5px; }
table#matrix-table > tr > td > span.right { top: 0; right: -2.5px; height: 100%; width: 2.5px; }
table#matrix-table > tr > td > span.player { font-weight: bold; }
